.filterButton {
  width: 40px;
  height: 40px;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 4rem;
  padding-right: 1.5rem;
}

.whiteText {
  color: white;
}

.lightCheckbox {
  height: 1.2rem;
  width: 1.2rem;
  background-color: transparent !important;
  border-color: white !important;
  margin-right: 1rem;
}

.lightCheckbox:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
}

.offcanvas-body {
  overflow-y: unset;
  border-bottom: solid 2px #222222;
}

@media (max-width: 576px) {
  .offcanvas-body {
    overflow-y: auto;
    border-bottom: solid 2px #222222;
  }

  .offcanvas {
    height: 100vh;
  }
}